<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tananaev.calculator">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".MainApplication">

        <activity
            android:name=".MainActivity"
            android:excludeFromRecents="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".MainApplication$ButtonReceiver"
            android:exported="false">

            <intent-filter>
                <action android:name="CalculatorButton" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".MainApplication$DismissReceiver"
            android:exported="false">

            <intent-filter>
                <action android:name="CalculatorDismiss" />
            </intent-filter>
        </receiver>

        <service
            android:name=".MainTileService"
            android:icon="@drawable/ic_notification"
            android:label="@string/notification_title"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">

            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>


        <service
            android:name=".MainApplication$BackgroundService" />

    </application>

</manifest>
